:root {
  --footer-height: 15vh;
}

* {
  margin: 0 auto;
  padding: 0;
  font-family: arial, sans-serif;
}

html{
  scroll-behavior: smooth;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  background: rgb(231, 225, 225);
}

main {
  width: 80vw;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h1:not(#web-header) {
  background: rgba(128, 128, 128, 0.402);
  margin: 20px auto;
  padding: 10px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

p {
  font-weight: normal;
}

ul, header,#head-img-name, .catalogue-item, form, #email-label {
  display: flex;
  flex-wrap: wrap;
}

section:not(#home, #contact-us, #catalogue) {
  height: 100vh;
}

/* HEADER */
header {
  background: red;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 7px;
}

header * {
  color: white;
}

#header-img {
  width: 70px;
  height: 50px;
  border-radius: 40%;
}

#head-img-name {
  margin-left: 10px;
  column-gap: 8px;
}

#web-header {
  margin-top: 5px;
}

#nav-bar{
  margin-right: 10px;
}

header ul li a {
  display: block;
  font-weight: normal;
  padding: 10px;
}

header ul li a:hover {
  background: white;
  color: red;
  border-radius: 2px;
}

#empty-container {
  height: 10vh;
}


/* HOME */
.home-img {
  width: 80%;
  height: 60vh;
}


/* ABOUT US */

#values ul {
  justify-content: space-evenly;
  column-gap: 30px;
  font-size: 2rem;
  height: 40vh;
  align-content: center;
  background: white;
}

/* CATALOGUE */
.catalogue-img {
  width: 250px;
  height: 250px;
  border: 2px solid black;
}

.catalogue-list {
  justify-content: space-around;
  row-gap: 80px;
  margin-top: 40px;
}

.catalogue-item {
  flex-direction: column;
  row-gap: 30px;
  font-size: 1.3rem;
}

/* HOW IT WORKS */
figure {
  margin-top: 10vh;
}

figcaption {
  font-weight: normal;
  margin-top: 20px;
}

iframe {
  width: 80%;
  max-width: 700px;
  height: 50vh;
}

/* CONTACT */
#contact-us {
  height: calc(100vh - var(--footer-height));
}

form {
flex-direction: column;
row-gap: 30px;
margin: 40px auto;
} 

#email {
 height: 30px;
 width: 260px;
} 

#email-label {
  align-items: center;
  column-gap: 10px;
}

#submit {
  background: darkblue;
  color: white;
  width: 130px;
  height: 80px;
  
  font-size: inherit;
  
}

/* FOOTER */
footer {
  height: var(--footer-height);
  border-top: rgba(128, 128, 128, 0.402) solid 3px;
}

.footer {
  margin-top: 9px;
}

/* QUERY */
@media only screen and (max-width: 870px) {
#empty-container {
    height: 9vh;
}

html {
  font-size: 16px;
}

#header-img {
  width: 45px;
}

#values ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#values li {
  flex: 1 1 45%; /* This ensures each item takes up about half the width */
  text-align: center;
}

}

@media only screen and (max-width: 750px) {

html {
  font-size: 14px;
}

#header-img {
  width: 60px;
  margin-left: 20px;
}

#web-header {
  display: none;
}

#nav-bar ul li a {
  font-size: 16px;
}

}

@media (max-width: 637px) {
  #empty-container {
   height: 100px;
  }
}

@media (max-width: 555px) {
  #empty-container {
   height: 150px;
  }

  iframe {
    height: 40vh;
  }

  #email-label {
  flex-direction: column;
  row-gap: 20px;
     width: 100%;
}

#email {
  width: 80%;
}

}

@media (max-width: 455px) {
  #empty-container {
   height: 190px;
  }

   iframe {
    height: 30vh;
  }
}
